div {
    margin: 0 auto;
    background: white;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
}

.main {
    padding: 20px;
    margin-top: 15px;
    opacity: 0.9;
}

.top {
    /* margin-top: 5px; */
}

.top a {
    padding: 10px 20px;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.top a:hover {
    background: #7777;
}

body {
    margin: auto;
    width: 90%;

    color: #777;
   /* line-height: 1.8;*/
    font-family: "Lato", sans-serif;
}

.bgimg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background-image: url(images/bgimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.homeMain {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
}

.main item {
    border: 0px red solid;
    flex: 1 1 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

item button {

}

.floatingButton {
    position: absolute;
    left: 15%;
    bottom: 35%;

    background: #fffc;
    border-radius: 8px;
    color: #000c;
    margin: auto;
    font-size: x-large;
    padding: 8px 12px;
    cursor: pointer;
}